body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 30%;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    width:30%;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    background-color:rgb(48, 112, 86);
}

.title {
    color:rgb(213, 239, 222);
    font-size:30px;
}